/* style.css */

body {
    background-color: #282828;
}

.title{
    color: #ebdbb2;
    text-align: center;
}

p,
ul,
h2,
h3 {
    color:#ebdbb2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
